{%extends 'layout.html'%}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">

<h1 class="title"> Propiedad Excendete </h1>

    {% for producto in productos %}
       <article class="product-item">
            {% if producto.image != 'null' and producto.image.url|length >= 1 and producto.image.url %}
                <div class="image">
                    <img src="{{ producto.image.url }}" alt="{{ producto.title }}">
                </div>
            {% endif %}

        <div class="data">  
            <h2>{{producto.nombre}}</h2>
            <span class="date">{{producto.created_at}}</span>

                <p>{{producto.descripcion|safe}}
                    <a href="{% url 'delete-product' producto.id %}">Delete Product</a>
                    <a href="{% url 'edit-product' producto.id %}">Update Product</a>

                </p>
                
                <br>
        </div>
      
       
    {% endfor %}
   

{% endblock%}