{%extends 'layout.html'%}
{% load static %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/productos.css' %}">

<h1 class="title"> Surplus Property</h1>
<!-- Formulario de búsqueda -->
<form method="get">
    <input type="text" name="search" placeholder="Search products">
    <input type="submit" value="Search">
</form>
<div class="responsive">
    {% for producto in productos %}
       
            <div class="gallery">
                {% if producto.image != 'null' and producto.image.url|length >= 1 and producto.image.url %}
                    <img src="{{ producto.image.url }}" alt="{{ producto.title }}">
                {% endif %}
                <div class="desc">  
                    <h2>{{producto.nombre}}</h2>
                    <span class="date">{{producto.created_at}}</span>
                    <p>{{producto.descripcion|safe}}</p>
                </div>
            </div>
        <div class="clearfix"></div>
       
    {% endfor %}
</div>

{% endblock%}
