{%extends 'layout.html'%}

{%load static%}

{%block content%}
<div class="container">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <h2>About Us</h2>
    <br>
    <section>
        <h3>Mission</h3>
        <p>Provide excellence in service, compliance and maximum return on investment.</p>
    </section>

    <section>
        <h3>Vision</h3>
        <p>Transparent and efficient centralized general services for the Government of Puerto Rico.</p>
    </section>
</div>
{%endblock%}