{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <nav>
        <ul>
        

            {% if user.email %}
                <li><a href="{% url 'inventory' %}">Inventory</a></li>
                <li><a href="{% url 'logout' %}">logout</a></li>
                <li><a href="{% url 'products' %}">Profile</a></li>
            {% else %}
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'register' %}">Sign Up</a></li>
            {% endif %}
             

               
        </ul>
    </nav>


    <div id="content">

        <div class="box">
            {% block content %}
            <!--Contenido de otros templates-->
            {% endblock %}

        </div>

    </div>

    <footer>
        <p>Capstone Project &copy; Polytechnic University of Puerto Rico</p>
    </footer>

</body>

</html>