{%extends 'layout.html'%}
{% load static %}



{% block content %}
<div class="error">
    {{register_form.error}}
</div>

<div class="container">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <form method="post" action="{%url 'register' %}">
        <h1>{{title}}<h1>
        {% csrf_token %}
        {% for field in register_form %}
           <label>{{field.label}}</label>
            {{field}}
        {% endfor %}
    
        <button type="submit" name="submit" >Register</button>
        
        
    </form>
</div>

    
{%endblock%}