{% extends "bases/base-usuario.html" %}
{% load static %}



{% block content %}
{{register_form.errors}}
<div class="container">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <form method="post" action="{%url 'register' %}">
        <h1>{{title}}<h1>
        {% csrf_token %}
        {% for field in register_form %}
           <label>{{field.label}}</label>
            {{field}}
        {% endfor %}
        <div class="clearfix">
            <button type="submit" class="btn-primary">Register</button>
        </div>
        
    </form>
</div>

    
{%endblock%}