/*estilos para el mensaje de error*/
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.messages li {
    list-style: none;
    animation: slideDown 0.3s ease;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages li.info {
    background-color: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.messages li.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.messages li.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
}

.messages li.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.close-message {
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
}

.close-message:hover {
    background-color: #d32f2f;
}

/*estilos para el formulario de login*/


form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.login-box form input {
    margin: 10px;
}

.login-box {
    height: 40em;
    background-color: transparent;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    font-size: 9px;
}

form h1 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 60px;

}

.login-box input[type="text"],
.login-box input[type="password"] {
    text-align: left;
    display: block;
    margin: 0;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}


form button[type="submit"] {
    width: 50%;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;

}

form button[type="submit"]:hover {
    cursor: pointer;
    background: #1f7e58;
}

.box {
    background-image: url('../img/Register-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body {
    background-color: #333;
}