.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.responsive {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    color: #fff;
}

div.gallery {
    position: relative;
    border: 1px solid #ccc;
    flex: 0 0 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.desc h2 {
    font-size: 1.5em;

}

.desc p {
    font-size: 1em;

}

* {
    box-sizing: border-box;
}

/* Botón de edición */
div.gallery .edit {
    position: absolute;
    bottom: 0;
    right: 5;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 25%;
}

div.gallery .edit a {
    text-decoration: none;
    color: white;
}

div.gallery .edit:hover {
    background-color: #45a049;
}


@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Estilos para el formulario de búsqueda */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 5px;
    background-color: rgba(51, 51, 51, 0.5);
}

form input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #1f7e58;
}

/* Estilos para los mensajes */
/*estilos para el mensaje de error*/
@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.messages li {
    list-style: none;
    animation: slideDown 0.3s ease;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.messages li.info {
    background-color: #d9edf7;
    color: #31708f;
    border: 1px solid #bce8f1;
}

.messages li.error {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #ebccd1;
}

.messages li.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: 1px solid #faebcc;
}

.messages li.success {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
}

.close-message {
    background-color: #f44336;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    margin-top: -10px;
    margin-right: -10px;
}

.close-message:hover {
    background-color: #d32f2f;
}