body,
nav {
    margin: 0;
    padding: 0;
}

.box form {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    font-size: 9px;
    color: #fff;

}

form h1 {
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    /* Convierte el texto a mayúsculas */
}

.box form input,
.box form label {
    text-align: left;
    /* Alinea el texto a la izquierda */
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(51, 51, 51, 0.5);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover {
    cursor: pointer;
    background: #1f7e58;
}

/*estilos para el nav*/
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

button[type="submit"] {
    display: block;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}