.box form {
    background: #333;
    padding: 4em 4em 2em;
    max-width: 400px;
    margin: 50px auto 0;
    box-shadow: 0 0 1em #222;
    border-radius: 2px;
    font-size: 9px;
    color: #fff;
}

.box form input,
.box form label {
    display: block;
    padding: 5px;
    padding-left: 0px;
}

.box form input[type="text"],
.box form input[type="email"],
.box form input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
}

.box form input[type="submit"]:hover,
.box form input[type="button"]:hover,
.box form button:hover {
    cursor: pointer;
    background: #1f7e58;
}

/*estilos para el nav*/
nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
}

body {
    background-image: url('https://source.unsplash.com/random/1920x1080');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}