* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #333;

}


/* Estilos para dispositivos con pantalla de hasta 600px de ancho */
@media (max-width: 600px) {

    nav {
        width: 100%;
    }

    #content {
        width: 100%;
    }

    .box {
        width: 100%;
    }

    .invitacion input[type="email"] {
        width: 100%;
    }

    .parrafo {
        width: 100%;

    }

    .footer {
        width: 100%;
    }
}

#logotipo img {
    display: block;
    width: 60px;
    margin-left: 90px;
    float: left;
    margin-top: 30px;
}

#logotipo h1 {
    display: block;
    letter-spacing: 2px;
    margin-left: 15px;
    float: left;
    margin-top: 40px;
    font-weight: lighter;
    color: mediumspringgreen;

}

/* Estilos menu */
nav {
    background-color: #333;
    padding: 10px;
    box-shadow: 0px 22px 22px gray;
    border: 2px solid #000000;
    box-shadow: 3px 20px 40px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
    line-height: 40px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
    background-color: transparent;
}

/* Estilos contenido */
body,
#content {
    margin: 0;
    padding: 0;
}

/* Estilos contenido */
#content {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    /* Keeps content stacked vertically */
}

#content .invitacion {
    /* replace with your image path */
    background-size: cover;
    background-position: center;
    /* this will center the image */
    background-repeat: no-repeat;
    /* this will prevent the image from repeating */
    padding: 20px;
    border-radius: 10px;
    height: 100%;
}


.box {
    background-image: url('../img/Register-page.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 935px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.title {
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
}

/* Estilos para la invitacion */


.invitacion h2 {
    color: rgba(228, 225, 192, 0.581);
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.invitacion p {
    color: rgba(228, 225, 192, 0.581);
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.invitacion form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.invitacion input[type="email"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

.invitacion button {
    padding: 12px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.solicitud-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.solicitud-box a {
    display: inline-block;
    color: #000000;
    background: rgb(0, 0, 0, 0, 0.5);
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 15%;
    padding: 10px 20px;
    /* Add padding */
    border: 1px solid #000000;
    /* Add border */
}

.solicitud-box a:hover {
    background-color: #1f7e58;
    color: #ffffff;
    /* Change text color on hover */
    transition: all 0.5s ease;
}

/* estilo para el parrafo de la solicitud */
.parrafo p {
    color: #444;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #fff;
}

/* Estilos footer */
footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer p {
    font-size: 14px;
}